# Godot 4+ specific ignores
.godot/

# IDEA settings
.idea/

# VS Code / VS Studio
.vscode
.vs
*.code-workspace

# SCONS
.sconsign.dblite
.scons_node_count
config.log
.sconf_temp
*.os

# Build library binary
*.so

# The default cache directory
cache/
.cache/
